<app-title-wrapper
  title="Accounts"
  description="Manage all accounts in the system."
>
  <p-button
    label="Add"
    icon="pi pi-plus"
    end
    size="small"
    (click)="openDialog()"
  />
</app-title-wrapper>

<div class="mx-2 md:mx-6 mt-2 h-full">
  <p-dataView #dv [value]="accounts">
    <ng-template pTemplate="list" let-accounts>
      <app-account-data-view-items
        [accounts]="accounts"
        [numOfRows]="5"
        [isLoading]="accountService.isLoading"
      ></app-account-data-view-items>
    </ng-template>
    <ng-template pTemplate="empty">
      @if(!isLoading){
      <p class="p-0 fond-medium text-xl text-center">No results found</p>
      }
    </ng-template>
  </p-dataView>
  <app-add-account-dialog
    [visible]="visibilityOfAddDialog"
    (onClose)="onDialogClose()"
  ></app-add-account-dialog>
</div>
<app-transaction-footer
  (onTransactionSubmit)="onTransactionSubmit($event)"
  [currency]="defaultCurrency | uppercase"
  [availableBalance]="accounts | currencySum"
></app-transaction-footer>
